/** @format */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alkatra&family=Anton&family=Lilita+One&family=Lobster&family=Merriweather:wght@300&family=Rubik+Bubbles&family=Rubik+Gemstones&family=Rubik+Iso&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}
body {
  background-color: black;
  opacity: 0.9;
}
.Navbar {
  opacity: 0.7;
}
.Brand {
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-shadow: 0px 5px rgb(49, 46, 46);
}
